@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: #000;
}
.header_logo {
  width: 150px;
  height: 45px;
}
@media (max-width: 425px) {
  .header_logo {
    margin: 0;
  }
}
.header .nav_btn {
  margin-left: 1em;
  text-transform: capitalize;
  padding: 0.3em 2em;
}
@media (max-width: 425px) {
  .header .nav_btn {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .header {
    width: 100%;
  }
}

.nav {
  display: flex;
}
.nav_item {
  margin: 0 1.2em;
}
@media (max-width: 425px) {
  .nav_item {
    margin: 0;
  }
}
.nav_link {
  color: #fff;
}
.nav_link:hover {
  border-bottom: 2px solid #FFF;
}
@media (max-width: 425px) {
  .nav .nav_link {
    display: none;
  }
  .nav .nav_btn {
    margin-left: 0;
    text-transform: capitalize;
    padding: 0.3em 2em;
  }
}

.wrap {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5em 0;
}
@media (max-width: 425px) {
  .wrap {
    max-width: 90%;
  }
}

.banner {
  background: url("../img/mesh-gradient.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .banner {
    flex-direction: column;
    background-color: linear-gradient(90deg, #179544, #00CE49);
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
.banner_content {
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .banner_content {
    width: 100%;
  }
}
.banner_title {
  font-size: 61px;
  color: #000;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1em;
}
@media (max-width: 425px) {
  .banner_title {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .banner_title {
    margin-top: -100px;
    margin-bottom: 3em;
    margin-left: 5px;
  }
}
.banner_btn {
  font-size: 18px;
  letter-spacing: 0.145em;
}
@media (max-width: 425px) {
  .banner_btn {
    font-size: 16px;
    margin-left: 15%;
  }
}
.banner_img {
  align-self: normal;
  margin-right: 90px;
}
@media (max-width: 425px) {
  .banner_img {
    display: none;
  }
}

.features_container {
  display: flex;
  margin: 0;
  max-width: 80%;
  margin: auto;
}
.features_container_item {
  text-align: center;
  width: 20%;
  margin: 5em auto;
}
@media (max-width: 425px) {
  .features_container_item {
    width: 90%;
    margin: 2em auto;
  }
}
.features_container_item_title {
  font-size: 18px;
  font-weight: bold;
  margin: 1em auto;
}
.features_container_item_text {
  line-height: 150%;
}
@media (max-width: 425px) {
  .features_container {
    flex-direction: column;
    max-width: 100%;
  }
}

.credit-card {
  background: linear-gradient(90deg, #179544, #00CE49);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.credit-card .section-title {
  margin-top: 0;
  margin-bottom: 0.3em;
}
@media (max-width: 425px) {
  .credit-card .section-title {
    color: #fff;
  }
}
.credit-card_text {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 425px) {
  .credit-card_text {
    font-size: 30px;
    color: #fff;
  }
}

.faq {
  margin-bottom: 4em;
}
.faq_title {
  margin-bottom: 1em;
}
.faq_faq {
  display: flex;
  flex-direction: column;
}
.faq_faq_item {
  width: 30%;
  margin: 1em auto;
}
@media (max-width: 425px) {
  .faq_faq_item {
    width: 90%;
  }
}
.faq_faq_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 0.5em;
}
.faq_faq_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
.faq_faq_body p {
  margin-top: 1em;
  line-height: 150%;
}
.faq_active {
  max-height: 300px;
}

.last-call {
  background: linear-gradient(90deg, #179544, #00CE49);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-call h2 {
  margin-bottom: 0.6em;
}
@media (max-width: 425px) {
  .last-call h2 {
    color: #fff;
  }
}
.last-call_btn {
  padding: 1em 4em;
  font-size: 18px;
  letter-spacing: 0.145em;
}
@media (max-width: 425px) {
  .last-call_btn {
    font-size: 16px;
  }
}

.footer {
  background-color: #000;
}
.footer .nav_link {
  font-size: 14px;
}
.footer .footer_copy-right {
  color: #fff;
  font-size: 14px;
  margin-right: 30px;
}
@media (max-width: 425px) {
  .footer .footer_copy-right {
    text-align: center;
    margin: 0 auto;
  }
}

.btn {
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 50px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
.section-title {
  font-size: 61px;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 1em;
}
@media (max-width: 425px) {
  .section-title {
    font-size: 40px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
